/*
===========================================
General style overwrites for forms styles and Bootstrap CSS
===========================================
*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container-fluid,
.col-xs-9,
.col-xs-3 {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
}

/*
===========================================
Body styles
===========================================
*/

.header-style {
  /*background: linear-gradient(to bottom, #ffde00 0%, #ff9100 100%);*/
  background: linear-gradient(to bottom right, #ffe600, #ffa34f);
  height: 125px;
}

.footer-style {
  background: linear-gradient(to top right, #ffa34f, #ffe600);
  height: 101px;
  font: futura;
  font-size: 16px;
  color: #ffffff;
  padding-top: 50px;
  padding-left: 55px;
}

.map-style {
  height: 550px;
  width: 66.665%;
  padding-right: 0;
  padding-left: 0;
}

.list-style {
  height: 550px;
  width: 33.334%;
  padding-right: 0;
  padding-left: 0;
}

.brew-container {
  height: 110px;
  width: 100%;
  margin-left: 40px;
}

.brew-container h5 {
  margin-left: 10px;
}

.brew-container p {
  font-size: 16px;
  margin-left: 14px;
  /*margin-top: 5px;*/
}

.icon-margin {
  margin-top: 15px;
}

.top-padding {
  padding-top: 60px;
}

.alert-style {
  font-size: 20px;
  width: 400px;
  margin: auto;
}

/*
===========================================
Text styles
===========================================
*/

.white-text {
  color: #ffffff;
}

.logo {
  font: futura;
  font-size: 80px;
  color: #ffffff;
}

.shadow {
  text-shadow: 0 10px 80px #ff6b00;
}
